body {  
    background-color: #add8e6;
}
h1, li, footer{
	color: #010CA7;
    font-family: 'Golos Text', sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.sidebar{
    background-color: #78c5df;
    align-items: stretch;
}
.notetaker{
    display:flex
}
